@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/BebasNeue-webfont.woff') format('woff'),
         url('../font/BebasNeue-webfont.ttf') format('truetype'),
         url('../font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: purple;
}

ul {
  list-style: none;
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

section {
  text-align: left;

}

h1, h2, h3, h4 {
  font-family: 'BebasNeueRegular', Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  line-height: 1em;
}

h1 {
  font-size: 9em;
}

h2  {
  font-size: 7.5em;
}

h3 {
  font-size: 6em;
}

h4 {
  font-size: 4em;
}

.reveal .slides {
  width: 100%;
}

pre > code {
  font-size: 3em;
}

/* per slide styles */

#intro > h1 {
  margin-bottom: -20px;
}

#intro > h1 > span.envy {
  background: -webkit-gradient(linear, center top, center bottom, from(black), to(#009924));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro > h4 {
  font-size: 3.48em;
  font-family: 'BebasNeueRegular', Arial, sans-serif;
  margin-top: 0px;
}

/* code highlights */

.keyword {
  color: #f47321;
  font-weight: bold;
}

.comment {
  color: #aea79f;
}

.this {
  font-weight: bold;
  color: purple;
}

.string {
  color: #d14;
}
